@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Sumar</button>
<button class="btn btn-secondary" @onclick="decrementCount">Restar</button>
<button class="btn btn-success" @onclick="resetCount">Reset</button>
<button class="btn btn-warning" @onclick="dobleIncrementCount">Sumar 2</button>
<p>@mensaje</p>

@{ 
    if (currentCount >= 0) {
        mensaje = "";
    }
}

@code {
    private int currentCount = 0;
    private string mensaje = "";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void decrementCount()
    {
        currentCount--;
        if(currentCount < 0) {
            currentCount = 0;
            mensaje = "Parece que no puedes restarle más!";
        }
    }

    private void resetCount()
    {
        currentCount = 0;
    }

    private void dobleIncrementCount()
    {
        currentCount += 2;
    }
}
